body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    text-align: center;
}

#logo {
    margin-top: -50px;
}


#city-select {
    margin-top: -60px
    }

#lastdishes {
    text-align: left;
    }


#lastdishes img {
    width: 100%;
}

#futuredishes {
    text-align: left;
    }


#futuredishes img {
    width: 100%;
}

#profile {
    text-align: center;
    display: none;
}


#tab-bar {
    background-color: white;
    font-size: 12px;
    height: 60px;
    border-top: 0.5px lightgray solid;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tab {
    cursor: pointer;
}

.element {
    text-align: center;
width: 90%
}